<%- include("partials/header")-%>
<h1>HOME</h1>
<p><%= content%></p>

<% objects.forEach(function(object){%>
<h1><%= object.title %></h1>
<p><%= object.content.substring(0, 100).concat(" ...") %> <a href="/posts/<%= object._id%>" >Read more</a></p>
<% }); %> <%- include("partials/footer")-%>
